/* Common CSS */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.color-1 {
  color: #883B8E;
}
.color-2 {
  color: #214497;
}
.color-3 {
  color: #60B657;
}
.color-4 {
  color: #FFBC42;
}
.color-5 {
  color: #2D2D2D;
}
.bg-1 {
  background-color: #883B8E;
}
.bg-2 {
  background-color: #214497;
}
.bg-3 {
  background-color: #60B657;
}
.bg-4 {
  background-color: #FFBC42;
}
.bg-5 {
  background-color: #2D2D2D;
}
.no-padding {
  padding: 0px;
}
.pr-0 {
 padding-right: 0px;
}
.pl-0 {
  padding-left: 0px;
}
.pt-50 {
  padding-top: 50px;
}
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.section-padding {
  padding-top: 100px;
  padding-bottom: 50px;
}
.section-header-wrapper {
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-header-wrapper .section-header h2 {
  margin-bottom: 0px;
}
.section-header h2 {
  font-size: 30px;
  color: #00123E;
  font-weight: 700;
  line-height: 41px;
  font-family: "Source Serif Pro";
}
.block-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #FFFFFF;
  background-color: #883B8E;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
.block-button:hover {
  color: #FFFFFF;
}
.border-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #883B8E;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  border: 1px solid #883B8E;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
.border-button:hover {
  color: #883B8E;
}
/*CSS for navigation Section*/
.navbar{
  /* height: 85px; */
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
}
.navbar .navbar-brand img {
  max-width: 56px;
  max-height: 51px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #2D2D2D;
  line-height: 23px;
  font-family: "Poppins";
  transition: color 0.3s ease-in-out;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar .nav-button .border-button {
  margin-right: 20px;
  margin-left: 20px;
}
.navbar .nav-grid {
  margin-left: 20px;
}
.nav-link .grid2 { 
  width: 33px;
  height: 33px;
  /* margin-right: -26px;
  margin-left: -3px; */
}
.navbar-nav .nav-item .nav-link:hover {
  color: #883B8E;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #883B8E;
}


/*CSS for Banner Section*/
.banner-section {
  position: relative;
  display: inline-block;
  width: 100%;
}
.banner-section img { /* For banner background image */
  display: block;
  width: 100%;
  height: auto;
  min-height: 286px;
}
.gradient-overlay { /* For banner gradient overlay */
  opacity: 0.561;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00123E;
}
.banner-section .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 664px;
}
.shape-1 {
  background-image: url('../img/shape-1.png'); /* shape image 1 */
  background-repeat: no-repeat;
  background-position: 100% 31%;
}
.shape-2 {
  background-image: url('../img/shape-2.png'); /* shape image 2 */
  background-repeat: no-repeat;
  background-position: 35% 90%;
}
.banner-section .banner-caption h4 {
  font-size: 16px;
  line-height: 23px;
  color: #FFBC42;
  font-weight: 500;
  margin: 0 auto;
  font-family: "Poppins";
}
.banner-section .banner-caption h1 {
  font-size: 50px;
  line-height: 69px;
  color: #FFFFFF;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 40px;
  font-family: "Source Serif Pro";
}
.banner-section .banner-caption h5 {
  max-width: 535px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #CFCFCF;
  font-weight: 400;
  font-family: "Poppins";
  margin: 0 auto; /* Center the text horizontally */
}
.banner-caption .banner-button {
  padding-top: 40px;
  margin: 0 auto;
}
.banner-section .banner-button .banner-block-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #2D2D2D;
  background-color: #FFBC42;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  margin-right: 24px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.banner-section .banner-button .banner-block-button:hover {
  color: #2D2D2D;
}
.banner-section .banner-button .banner-border-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #FFBC42;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 21px;
  text-align: center;
  margin: 0px;
  border: 1px solid #FFBC42;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
.banner-section .banner-button .banner-border-button:hover {
  color: #FFBC42;
}
/*CSS for about section */
.about-container .about-main-content .section-header h2 {
  margin-bottom: 0px;
}
.about-section .about-image img {
  display: block;
  max-width: 530px;
  width: 100%;
  height: auto;
  min-height: 286px;
}
.about-section .about-content {
  padding-top: 50px;
}
.about-content .about-item {
  align-items: center;
}
.about-content .about-item .about-hero-bg {
  width: 73px;
  height: 73px;
  border-radius: 13px;
  padding: 18px;
  margin-right: 24px;
  background-color: #FEF2FF;
}
.about-content .about-item img {
  max-width: 37px;
  max-height: 37px;
}
.about-content .about-item h5 {
  font-size: 20px;
  line-height: 28px;
  color: #00123e;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: "Source Serif Pro";
}
.about-content p {
  max-width: 530px;
  font-size: 16px;
  line-height: 29px;
  color: #2D2D2D;
  padding-top: 30px;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.about-container .about-description p{
  max-width: 531px;
  font-size: 16px;
  line-height: 29px;
  color: #2D2D2D;
  font-weight: 400;
  font-family: "Poppins";
  padding-top: 45px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.about-container .about-main-content {
  padding-bottom: 72px;
}
.about-container .about-button .block-button{
  margin-right: 24px;
}
/*CSS for academic section */
.academic-section .academic-content {
  border-radius: 20px;
  padding: 27px 32px 17px 37px;
  background-color: #FFBC42;
}
.academic-section .academic-content h2 {
  font-size: 40px;
  line-height: 52px;
  color: #00123E;
  font-weight: 700;
  font-family: "Source Serif Pro";  
  padding-bottom: 27px;
}
.academic-section .academic-content p {
  font-size: 16px;
  color: #00123E;
  font-weight: 400;
  line-height: 25px;
  font-family: "Poppins";
}
.academic-section .academic-item {
  padding: 27px 16px 16px 28px;
  background-color: #FEF2FF;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23883B8EFF' stroke-width='1' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 20px;  
}
.academic-section .academic-item img {
  max-height: 87px;
  max-width: 87px;
}
.academic-section .academic-item h3 {
  padding-top: 28px;
  padding-bottom: 1px;
  font-size: 30px;
  line-height: 41px;
  color: #00123E;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.academic-section .academic-item p {
  font-size: 16px;
  line-height: 24px;
  color: #2D2D2D;
  font-weight: 400;
  font-family: "Poppins";
}
.academic-section .academic-button {
  padding-top: 63px;
  padding-bottom: 62px;
  text-align: center;
  border-radius: 20px;
  background-color: #883B8E;
}
.academic-section .academic-button h3{
  font-size: 30px;
  line-height: 41px;
  color: #fef2ff;
  font-weight: 700;
  padding-bottom: 27px;
  font-family: "Source Serif Pro";
}
.academic-section .academic-button .border-button {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.academic-section .academic-button .border-button:hover {
  color: #FFFFFF;
}
/*CSS for Facilities section */
.our-facilities .facilities-content {
  padding: 52px 37px;
  border-radius: 20px;
  background-color: #214497;
}
.our-facilities .facilities-content h2 {
  font-size: 40px;
  line-height: 60.57px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Source Serif Pro";
}
.our-facilities .facilities-item {
  align-items: center;
  margin-bottom: 20px;
}
.our-facilities .facilities-item .facilities-hero-bg {
  width: 73px;
  height: 73px;
  padding: 18px;
  border-radius: 13px;
  margin-right: 23px;
  background-color: #FEF2FF;
}
.our-facilities .facilities-hero-bg .facilities-item img {
  max-width: 37px;
  max-height: 37px;
}
.our-facilities .facilities-item h5 {
  margin-bottom: 0px;
  font-size: 20px;
  line-height: 28px;
  color: #2D2D2D;
  font-weight: 500;
  font-family: "Poppins";
}
.facilities-gallery img{
  width: 100%;
  height: auto;
}
/* Css for Campus Life Sections */
.campus-activity .section-header-wrapper {
  margin-bottom: 9px;
}
.campus-activity .activity-item {
  border-radius: 30px;
  background-color: #FeF2FF;
  max-width: 530px;
}
.campus-activity .activity-item img {
  /* height: 100%; */
  width: 100%;
  padding: 10px 9px 30px 11px;
  border-radius: 30px 30px 0px 0px;
  display: block;
  height: auto;
}
.campus-activity .activity-item .activity-content p {
  font-size: 20px;
  line-height: 38px;
  color: #2D2D2D;
  font-weight: 500;
  padding-bottom: 28px;
  padding-left: 36px;
  padding-right: 36px;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.campus-activity .swiper-button-next, .campus-activity .swiper-button-prev {
  width: calc(var(--swiper-navigation-size)/ 44 * 66);
}
/* Css for Affiliations Sections */
.affiliations .affiliations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
.affiliations .affiliations-container .affiliations-logo img {
  max-width: 207px;
  height: auto;
}
/* CSS for feedback section */
.feedback {
  margin-bottom: 135px;
}
.feedback .section-header-wrapper {
  margin-bottom: 14px;
}
.feedback .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback .parents-feedback {
  background-color: #FEF2FF;
  max-width: 849px;
  border-radius: 20px;
}
.feedback .parents-feedback img {
  display: block;
  width: 100%;
  height: 100%;
  /* max-width: 267px; */
  object-fit: cover;
}
.feedback .parents-feedback .feedback-details {
  padding-left: 3px;
  padding-right: 25px;
}
.feedback .parents-feedback .feedback-details .feedback-content p {
  font-size: 16px;
  line-height: 31px;
  color: #2D2D2D;
  font-weight: 400;
  margin-bottom: 25px;
  font-family: "Poppins";
}
.feedback .parents-feedback .feedback-details .parents-details h6 {
  font-size: 16px;
  line-height: 24.5px;
  color: #2D2D2D;
  font-weight: 700;
  margin-bottom: 0px;
  font-family: "Source Serif Pro";
}
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
  content: none;
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
  content: none;
}
.feedback .swiper-button-next, .feedback .swiper-button-prev {
  width: calc(var(--swiper-navigation-size)/ 44 * 51);
}
/*CSS for Footer Section */
.footer {
  background-color: #FEF2FF;
  padding-top: 61px;
  padding-bottom: 101px;
}
.footer .footer-logo img {
  width: 100%;
  height: auto;
  max-width: 221px;
  max-height: 82px;
}
.footer .institute-contact {
  margin-top: 44px;
}
.footer .institute-contact .contact-item {
  margin-top: 30px;
}
.footer .institute-contact .contact-item h6 {
  font-size: 16px;
  line-height: 23px;
  color: #597373;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.footer .institute-contact .contact-item p {
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Poppins";
}
.footer .institute-contact .contact-item .institute-address p {
  line-height: 25px;
}
.footer .important-link {
  margin-top: 44px;
}
.footer .important-link h5 {
  font-size: 20px;
  line-height: 28px;
  color: #636363;
  font-weight: 700;
  margin-bottom: 24px;
  font-family: "Source Serif Pro";
}
.footer .important-link ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .important-link ul li {
  margin-top: 15px;
}
.footer .important-link ul li a{
  text-decoration: none;
  font-size: 16px;
  line-height: 27px;
  color: #000000;
  font-weight: 400;
  font-family: "Poppins";
}
.footer .important-link ul li a:hover{
  color: #883B8E;
}
/* footer bottom */
.footer-bottom {
  width: 100%;
  height: 83px;
  background-color: #2D2D2D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom .center-wrapper { /*CSS for centering the content */
  display: flex;
  align-items: center;
}
.footer-bottom p {
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px;
  font-family: "Poppins";
}