/* Common CSS */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.color-1 {
  color: #883B8E;
}
.color-2 {
  color: #214497;
}
.color-3 {
  color: #60B657;
}
.color-4 {
  color: #FFBC42;
}
.color-5 {
  color: #2D2D2D;
}
.bg-1 {
  background-color: #883B8E;
}
.bg-2 {
  background-color: #214497;
}
.bg-3 {
  background-color: #60B657;
}
.bg-4 {
  background-color: #FFBC42;
}
.bg-5 {
  background-color: #2D2D2D;
}
.no-padding {
  padding: 0px;
}
.section-padding {
  padding-top: 133px;
}
.section-header-wrapper {

}
.section-title {

}
.section-sub-title {

}
.border-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #883B8E;
  border: 1px solid #883B8E;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  .border-button:hover {
    color: #883B8E;
    border: 1px solid #883B8E;
  }
/*CSS for navigation Section*/
.navbar{
  /* height: 85px; */
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
  border: 1px solid #E1E1E1;
}
.navbar .navbar-brand img {
  max-width: 56px;
  max-height: 51px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  color: #2D2D2D;
  line-height: 25px;
  font-family: "Poppins";
  transition: color 0.3s ease-in-out;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
}
.nav-link .grid2 { 
  width: 33px;
  height: 33px;
  /* margin-right: -26px;
  margin-left: -3px; */
}
.navbar-nav .nav-item .nav-link:hover {
  color: #883B8E;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #883B8E;
}


/*CSS for Banner Section*/
.banner-section {
  position: relative;
  display: inline-block;
  width: 100%;
}
.banner-section img { /* For banner background image */
  display: block;
  width: 100%;
  height: auto;
  min-height: 226px;
}
.gradient-overlay { /* For banner gradient overlay */
  opacity: 0.561;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00123E;
}
.banner-section .banner-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.shape-1 {
  background-image: url('../img/shape-1.png'); /* shape image 1 */
  background-repeat: no-repeat;
  background-position: 549px 107px;
}
.shape-2 {
  background-image: url('../img/shape-2.png'); /* shape image 2 */
  background-repeat: no-repeat;
  background-position: 197px 159px;
}
.banner-section .banner-caption h4 {
  font-size: 16px;
  line-height: 25px;
  color: #FFBC42;
  font-weight: 500;
  margin: 0 auto;
  font-family: "Poppins";
}
.banner-section .banner-caption h1 {
  font-size: 50px;
  line-height: 69px;
  color: #FFFFFF;
  font-weight: 900;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 34px;
  font-family: "Source Serif Pro";
}
.banner-section .banner-caption h5 {
  max-width: 535px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  color: #CFCFCF;
  font-weight: 400;
  font-family: "Poppins";
  margin: 0 auto; /* Center the text horizontally */
}
.banner-button {
  padding-top: 36px;
  margin: 0 auto;
}
.banner-section .banner-button .banner-block-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #2D2D2D;
  border: 1px solid #FFBC42;
  background-color: #FFBC42;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  margin-right: 20px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.banner-section .banner-button .banner-block-button:hover {
  color: #2D2D2D;
  border: 1px solid #FFBC42;
}
.banner-section .banner-button .banner-border-button {
  font-size: 16px;
  border-radius: 8px;
  padding: 13px 24px;
  color: #FFBC42;
  border: 1px solid #FFBC42;
  display: inline-block;
  font-family: "Poppins";
  text-decoration: none;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  /* margin-left: 10px; */
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  }
.banner-section .banner-button .banner-border-button:hover {
  color: #FFBC42;
  border: 1px solid #FFBC42;
}
/*CSS for about section */
.about-section .about-image img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 226px;
  max-width: 530px;
}









/*CSS for about section */
/* .about-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.about-image-container img { For background image
  display: block;
  width: 100%;
  height: auto;
}
.about-overlay-image { For overlay image
  position: absolute;
  top: 49%;
  right: 0;
  transform: translateY(-50%);
  max-width: 82%;
  max-height: 100%;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.about-content {
  padding-left: 110px;
  width: auto;
}
.about-categorie {
  padding: 15px 15px;
}
.about-sub-header {
  font-size: 18px;
  line-height: 30px;
  color: #ffbc42;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins";
  margin-bottom: 0px
}
.about-hero-img {
  width: 97px;
  height: 97px;
  border-radius: 20px;
  background-color: #ccf9ff;
  padding: 17px;
}
.about-hero-img img{
  max-width: 61px;
  max-height: 61px;
} */
/*CSS for Work section */
/* .our-work {
  padding: 100px 71px 0px 100px;
}
.program-padding {
  padding: 100px 80px 0px 67px;
}
.content-header {
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
}
.our-work .content-header {
  font-size: 35px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 50px;
  font-family: "Poppins";
}
.our-work p {
  font-family: "Poppins";
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
} */
/*CSS for Event Section */
/* .event-buttons {
  margin-top: 50px;
}
.event-buttons .margin-right{
  margin-right: 25px;
}
.event-image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.event-image-container img { background image
  display: block;
  width: 100%;
  height: auto;
}
.event-overlay-image { For overlay image
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  max-width: 82%;
  max-height: 100%;
}
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.event-content {
  padding-left: 3rem;
  padding-right: 3rem;
  width: auto;
}
.event-description {
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  font-weight: 400;
  font-family: "Poppins";
  padding-top: 25px;
  padding-bottom: 35px;
}
.event-section-header {
  font-size: 25px;
  line-height: 35px;
  color: #333333;
  font-weight: 700;
  font-family: "Poppins";
}
.event-shedule {
  display: flex;
  justify-content: space-between;
}
.event-shedule p {
  font-size: 16px;
  line-height: 28px;
  color: #232323;
  font-weight: 500;
  font-family: "Poppins";
} */
/*CSS for Partner Section */
/* .partner-section {
  padding: 50px 100px 115px 100px;

}
.partner-section .section-header{
  padding-bottom: 30px;
}
.partner-logo-container .col-md-2 {
  width: auto;
}
.partner-logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}
.partner-logo {
  margin-bottom: 20px;
  max-width: 117px;
  height: auto;
  padding-right: 5px;
} */
/*CSS for volunteer banner */
/* .volunteer-banner-section {
  position: relative;
  display: inline-block;
  width: 100%;
}
.volunteer-banner-section img {
  display: block;
  width: 100%;
  min-height: 205px;
  height: auto;
}
.volunteer-gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.678;
  background-color: #05064d;
}
.volunteer-banner-caption {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin: 0 auto;
}
.caption-small-one {
  font-size: 16px;
  line-height: 14px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
  margin-top: 1%;
}
.volunteer-banner-caption h2{
  font-size: 79px;
  line-height: 90px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
  font-family: "Fredericka the Great";
}
.volunteer-block-button {
  border-radius: 2px;
  color: #ffffff;
  outline: 0;
  display: inline-block;
  font-size: 16px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
  font-family: "Poppins";
  border: none;
  padding: 19px 28px;
  margin-bottom: 2.5%;
  transition: color 0.3s ease-in-out;
}
.volunteer-block-button:hover {
  color: #232323;
}
.volunteer {
  padding: 107px 15px 57px 100px;
}
.volunteer-text {
  font-size: 40px;
  line-height: 65px;
  color: #333333;
  font-weight: 800;
  padding-bottom: 4%;
  font-family: "Poppins";
} */
/*CSS for news Section */
/* .news-background-image {
  background-image: url('../img/bg_img_3.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.news-container {
  padding: 25px 15px 98px 15px;
}
.news-section .news-container .card {
  margin-bottom: 30px;
  border-radius: 2px;
  padding: 12px;
  filter: drop-shadow(0 0 6.5px rgba(0,0,0,0.1));
  border: none;
}
.news-section .news-container .card .card-body p {
  font-size: 18px;
  line-height: 30px;
  color: #333333;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}
.news-section .news-container .card .card-body .learn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  text-decoration: none;
}
.news-section .news-container .card .card-body .learn-more i {
  font-size: 29px;
  color: #ffbc42;
  margin-left: 10px;
}
.news-section-header {
  display: flex;
  justify-content: space-between;
}
.news-section-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-section-button {
  border-radius: 2px;
  color: #2e3094;
  border: 1px solid #2e3094;
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
  padding: 18px 28px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  text-decoration: none;
  font-family: "Poppins";
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}
.news-section-button:hover {
  color: #ffbc42;
  border: 1px solid #ffbc42;
} */
/*CSS for Footer Section */
/* .footer-logo {
  width: 197px;
  height: 160px;
}
.footer {
  background-color: #232323;
  color: #ffffff;
  padding-left: 113px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  functions are used to create a flexible grid with a minimum column width of 250 pixels and a maximum column width of 1 fraction unit
  gap: 79px;
  padding-bottom: 75px;
  padding-top: 100px;
}
.footer-grid .important-link1 {
  padding-left: 49px;
}
.social-contact {
  padding-bottom: 15px;
}
.social-contact p {
  color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
}
.social-contact h6 {
  opacity: 0.612;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins";
}
.social-contact a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease-in-out;
}
.social-contact a:hover {
  color: #ffbc42;
}
.footer-section-header {
  font-size: 30px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
  margin-top: -30px;
  margin-bottom: 50px;
}
.footer-grid h5 {
  font-size: 20px;
  margin-bottom: 48px;
  color: #a6a6a6d4;
  font-weight: 500;
  font-family: "Poppins";
}
.footer-grid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-grid ul li {
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer-grid ul li a{
  text-decoration: none;
  color: #eaeaea;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins";
  transition: color 0.3s ease-in-out;
}
.footer-grid ul li a:hover{
  color: #ffbc42;
}
.footer-bottom {
  width: 100%;
  height: 90px;
  background-color: #ffbc42;
  color: #333333;
  text-align: center;
  bottom: 0;
}
.footer-bottom p {
  line-height: 90px;
  margin: 0;
  font-family: "Poppins";
} */